---
http_interactions:
- request:
    method: get
    uri: https://api.youneedabudget.com/v1/budgets/b01bcd86-1905-11e8-ad03-2b62fa19f158/accounts/ebec22d4-1905-11e8-8a4c-7b32b5a7e49f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 123456789
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - 2/200
      Etag:
      - W/"b2af3a7fd0da15ba3779d251a6863d0c"
    body:
      encoding: UTF-8
      string: '{"data":{"account":{"id":"DE89370400440532013000","name":"MyBank
        Giro","type":"checking","on_budget":true,"closed":false,"note":"MyBank Giro","balance":111,"cleared_balance":111,"uncleared_balance":0,"transfer_payee_id":"57244b6e-c35e-11e8-8178-8f80c501f13b","deleted":false}}}'
  recorded_at: Fri, 28 Sep 2018 20:37:18 GMT
recorded_with: VCR 4.0.0
